* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  width: 100%;
  text-align: center;
  background: #451F55;
  color: #fff;
  padding: 20px;
  font-family: "Alumni Sans Inline One";
  font-weight: 400;
  font-size: 48px;
}

.team-wrapper {
  max-width: 900px;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
}

.standings-header {
  width: 100%;
  display: flex;
  padding: 15px;
}

.standings-header .team-name {
  width: 235px;
}
.team-name {
  width: 194px;
  text-align: left;
  padding-left: 10px;
}

.matches-played {
  width: 50px;
  text-align: center;
}